@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;;
  text-decoration: none;
}

body{
  background-color: #E5E5E5;
}

/*HEADER*/

.header{
  background-color: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navBar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none;
}

.list{
  padding: 1rem;
  color: white;
}

.list:hover{
  text-decoration: underline;
}

/*MAIN*/

.main{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenMain{
  background-image: url(../img/fondo.jpg);
  position: relative;
  height:400px;
  width: 500px;
  background-repeat: no-repeat;
}

.promo{
  padding: 1rem;
  color: red;
  font-size: 1.5rem;
}

.titulo{
  text-align: center;
  padding: 1rem;
  color: red;
  font-size: 1.5rem;
}

h3{
  color: black;
  padding: 2rem;
}

.topCinco{
  color: black;
  position: absolute;
  left: 50px;
}

span{
  color: white;
}

.seccionDos{
  background-color:#FFFFFF;
  position: relative;
  height: 350px;
  width: 500px;
}

.segundaSeccion{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}


/*FOOTER*/

.footer{
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}